<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MainService/services/Service.ServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap11Binding"
                contract="ServiceReference1.ServicePortType" name="ServiceHttpSoap11Endpoint" />
            <endpoint address="http://localhost:8080/MainService/services/Service.ServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="ServiceSoap12Binding"
                contract="ServiceReference1.ServicePortType" name="ServiceHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>